@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>

<p>My name is Ismael Almaguer and I thank you for taking the time to look at this project.</p>
<p>I would like to make it clear from the start that this restaurant <strong>is fictional.</strong>
    I stared this project so that I can understand how to design and implement an ASP.NET application.</p>
<p>I hope that I did OK. There is always room for improvement, there are many ways to solve a problem, and there are many platforms for one to develop an application on.</p>

<p>Please enjoy, it was fun to do this and there were some challenges as well.</p>
