@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>

<address>
    <div class="contact-item"><strong>My Email:</strong> <a href="mailto:ismael.alma@gmail.com">ismael.alma@gmail.com</a></div>
    <div class="contact-item"><strong>My GitHub:</strong> <a href="https://github.com/smael123">https://github.com/smael123</a></div>
    <div class="contact-item"><strong>My LinkedIn:</strong> <a href="https://www.linkedin.com/in/ismael-almaguer-769164124">https://www.linkedin.com/in/ismael-almaguer-769164124</a></div>
</address>